/* Button styles */
.button {
  display: inline-block;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  font-size: 1rem;
  color: var(--color-background-primary);
  text-decoration: none;
  background-color: var(--color-background-secondary);
  border: 0;
  border-radius: var(--border-radius-regular);
}

.submit .button {
  color: var(--color-background-secondary);
  background-color: var(--color-accent);
}