/* Header styles */
header {
  grid-column: full-start / full-end;
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  text-align: center;
}

header:not(.intro) {
  padding-top: calc(var(--spacing) * 4); /* So nav doesnt go over page title */
}

header h1 {
  font-size: calc(var(--font-size-headings) * 2);
  text-transform: uppercase;
}

.intro {
  position: relative;
  display: flex;
  min-height: calc(100vh - var(--height-nav));
  margin-bottom: calc(var(--spacing) * 2);
  color: var(--color-background-primary);
  background-image: url("myndir/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.intro .protection {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--color-protection);
}

.intro .content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 2em;
}

.intro .content h1 {
  margin-top: calc(var(--spacing) * -4);
}

.intro .content h1,
.intro .content h2 {
  margin-bottom: calc(var(--spacing) * 4);
}